<div class="card mb-4 myCard">
    <div class="card-body">
        <figure>
            <img src={{country.flag}} alt="" class="img-fluid img">
            <figcaption>
                <h5 class="my-3 text-center">{{country.name}}</h5>
                <p><strong>Capital:</strong>{{country.capital}}</p>
                <p><strong>Languages:</strong>{{country.languages}}</p>
                <p><strong>Population:</strong>{{country.population|number}}</p>
            </figcaption>
        </figure>
    </div>
</div>